*{
    /* background-color: rgb(230, 241, 252); */
    margin: 0;
}
.bodytype{
    
    margin-top: 150px;
    background-color:rgb(230, 241, 252); 
}
.bodytype *{
    background-color: rgb(230, 241, 252);
}
#outermost_box{
    background-color: white;
    width: 96%;
    margin: auto;
}
#first_product{
    width: 96%;
    margin: auto;
    height: 380px;
    background-color: white;
    display: flex;
    gap: 20px;
}
#first_product > div{
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
}
#crousel{
    flex: 2;
}
#pick_of_the_day{
    flex: 1;
    padding: 18px;
}
#pick_of_the_day_img{
    width: 50%;
    margin-left: 25%;
    height: 230px;
}
#pick_of_the_day_first_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pick_of_the_day_first_div_h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 20px;
    font-weight: 700;
    color: #2e2f32;
}
#pick_of_the_day_price{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 10px;
    size: 16px;
    font-weight: 700;
    color: #2e2f32;
}
#pick_of_the_day_original_price{
    font-weight: 300;
    text-decoration: line-through;
}
#pick_of_the_day_title{
    font-weight: 500;
}
#first_product *{
    background-color: white;
}
#second_div *{
    background-color: white;
}
#second_div{
    width: 96%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    height: 380px;
    display: flex;
    gap: 20px;
}
#second_div > div{
    border-radius: 10px;
    flex: 1;
    background-color: white;
}
#pick_of_the_day_price_box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.second_div_to_giv_shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#second_div_first_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* margin-top: 20px; */
}
#second_div_first_second{
    border-radius: 13px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 5px;
}
#second_div_first_second_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#second_div_first_second_second{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
#second_div_first_first_btn{
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    border: 1px solid black;
    padding-bottom: 5px;
}
#second_div_first_first_btn:hover{
    border: 2px solid black;
}
#second_div_first_second_first_second > a{
    text-decoration: underline;
}
#second_div_second_first_h3, #second_div_third_first_h3, #third_div_first > h3, #fourth_div_first_h3, #fifth_div_first_h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #2e2f32;
}
/* .third_div{
    position: fixed;
    top: 0%;
} */
#third_div_first{
    width: 96%;
    
    /* margin-left: 2%; */
    margin: 25px;
    margin-left: 2%;
}
#second_div_second{
    padding: 15px;
    /* border: 2px solid red; */
}
#second_div_second_second{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2 , 1fr);
}
#second_div_second_second > div{
    text-align: center;
}
#second_div_second_second > div > img{
    width: 65%;
}
#second_div_third{
    padding: 15px;
}
#second_div_third_second{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2 , 1fr);
}
#second_div_third_second > div{
    text-align: center;
}
#second_div_third_second > div > img{
    width: 65%;
}
.simple_div{
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
}
.simple_div *{
    background-color: white;
}
#simple_div_first_first{
    border-radius: 10px;
    border: 1px solid gray;
    /* text-align: center; */
    align-items: center;
    display: flex;
    height: 50px;
    width: 96%;
    margin: auto;
    background-color: rgb(0, 113,220);
}
#simple_div_first_first *{
    background-color: rgb(0, 113,220);
}
#simple_div_first_first{
    display: flex;
}
#simple_div_first_first_first{
    margin-left: 220px;
    margin-right: 20px;
}
#simple_div_first_first_second{
    margin-right: 20px;
}
#simple_div_first_first_second > h2{
    font-size: 18px;
    color: white;
}
#simple_div_first_first_first > img{
    width: 35px;
}
#simple_div_first_first_third > p{
    color: white;
    text-decoration: underline;
}
#images_of_fashion{
    /* border: 1px solid black; */
    height: 200px;
}
#third_div > .container{
    margin-bottom: 30px;
}
#hr_to_use{
    width: 96%;
    margin-left: 2%;
}
#fourth_div *{
    background-color: white;
}
#fourth_div{
    width: 96%;
    background-color: white;
    margin-left: 2%;
}
#fourth_div_second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#fourth_div_first{
    margin-top: 25px;
    margin-bottom: 25px;
}
#fourth_div_second > div{
    text-align: center;
}
#fifth_div{
    background-color: white;
    width: 96%;
    margin-left: 2%;
}
#fifth_div *{
    background-color: white;
}
#fifth_div_first{
    margin-top: 22px;
    margin-bottom: 15px;
}
#fifth_div_second{
    display: flex;
    justify-content: space-between;
}
#fifth_div_second > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#fifth_div_second_first_second, #fifth_div_second_second_second, #fifth_div_second_third_second{
    margin: 15px;
}
#fifth_div_second_first_third, #fifth_div_second_second_third, #fifth_div_second_third_third{
    margin: 15px;
}
#fifth_div_second_first_second_h3, #fifth_div_second_second_second_h3, #fifth_div_second_third_second_h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #2e2f32;
    line-height: 23px;
}
#fifth_div_second_first_second_p, #fifth_div_second_second_second_p, #fifth_div_second_third_second_p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #46474a;
    line-height: 21px;
}
#btn_of_for_you, #btn_of_In_season{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100px;
    color: black;
    border: 1px solid black;
}
#btn_of_for_you:hover, #btn_of_In_season:hover{
    color: white;
    background-color: #000000;
    /* color: black; */
}
#sixth_div{
    width: 96%;
    margin-left: 2%;
    background-color: white;
}
#sixth_div *{
    background-color: white;
}
#sixth_div_first{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#sixth_div_first_second > p{
    text-decoration: underline;
}
#sixth_div_first_first > h3{
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#sixth_div_second{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.sixth_div_second_all_img{
    width: 100%;
}
.sixth_div_second_all{
    text-align: center;
}
#seventh_div_only_first > img{
    width: 70px;
}
#seventh_div{
    background-color: white;
}
#seventh_div_f{
    width: 96%;
    margin-left: 2%;
    padding-top: 10px;
    border-radius: 10px;
    height: 50px;
    align-items: center;
}
#seventh_div_only{
    display: flex;
    align-items: center;
    margin-left: 150px;
    /* margin-top: 30px; */
}
#seventh_div_only_first{
    margin-right: 20px;
}
#seventh_div_only_second_first > h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
#seventh_div_only_third{
    margin-left: 10px;
    margin-right: 10px;
}
#seventh_div_only_third > h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
#seventh_div_only_fourth > p{
    text-decoration: underline;
}
#seventh_div_f{
    margin-bottom: 15px;
    margin-top: 25px;
}
.nineth_div{
    background-color: white;
}
.nineth_div *{
    background-color: white;
}
#nineth_div_second{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-left: 2%;
}
#nineth_div_second > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#nineth_div_first{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#nineth_div_first > h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}   
#nineth_div_second_first_second_h3, #nineth_div_second_second_second_h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f32;
}
#nineth_div_second_first_second_p, #nineth_div_second_second_second_p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #46474a;
}
#nineth_div_second_second_second, #nineth_div_second_first_second, #nineth_div_second_second_third, #nineth_div_second_first_third{
    margin-top: 15px;
    margin-left: 12px;
}
#nineth_div_second > div{
    border-radius: 10px;
}
#nineth_div_second > div img{
    border-radius: 10px 10px 0px 0px;
}
.tenth_div{
    background-color: white;
}
.tenth_div *{
    background-color: white;
}
#tenth_div_second{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-left: 2%;
}
#tenth_div_second > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#tenth_div_first{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#tenth_div_first > h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}   
#tenth_div_second_first_second_h3, #tenth_div_second_second_second_h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f32;
}
#tenth_div_second_first_second_p, #tenth_div_second_second_second_p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #46474a;
}
#tenth_div_second_second_second, #tenth_div_second_first_second, #tenth_div_second_second_third, #tenth_div_second_first_third{
    margin-top: 15px;
    margin-left: 12px;
}
#tenth_div_second > div{
    border-radius: 10px;
}
#tenth_div_second > div img{
    border-radius: 10px 10px 0px 0px;
}


.eleventh_div{
    background-color: white;
}
.eleventh_div *{
    background-color: white;
}
#eleventh_div_second{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    width: 96%;
    margin-left: 2%;
}
#eleventh_div_second > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}
#eleventh_div_second img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
}
#eleventh_div_first{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#eleventh_div_first > h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}   
.eleventh_class_div_second_first_second{
    margin-left: 15px;
    margin-top: 15px;
}
.eleventh_class_div_second_first_third{
    margin-left: 15px;
    margin-top: 40px;
}
.elevnth_class_div_second_first_second_p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #46474a;
}
#eleventh_div_third{
    margin-top: 45px;
    width: 96%;
    margin-left: 2%;
    padding-bottom: 20px;
}
#eleventh_div_third >div{
    margin-left: 2%;
}
#eleventh_div_third_second{
    margin-top: 15px;
}
#eleventh_div_third_second >p{
    text-decoration: underline;
}
#twevelth_div{
    width: 100%;
    /* border: 1px solid gray; */
}
#twevelth_div_first{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}
#twevelth_div_first_second{
    margin-top: 15px;
}
#twevelth_div_first_first > h5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
#feedbackbtn{
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
}
#twevelth_div_second{
    padding-top: 20px;
    padding-bottom: 20px;
}
#twevelth_div_second_first{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
.twevelth_div_second_first_div_a{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    color: #2e2f32;
}
.img-box > img{
    width: 90%;
    margin-left: 5%;
}
#eight_div{
    background-color: white;
}
#eight_div *{
    background-color: white;
}
.third_div{
    background-color: white;
}
.third_div *{
    background-color: white;
}
#add_btn_of_eight_div_for_grocery{
    background-color: rgb(0, 113, 220);
    border: 0;
    color: white;
    padding: 13px;
    border-radius: 20px;
    width: 85px;
    position: absolute;
    left: 10px;
    top: 170px;
}
#add_btn_of_eight_div{
    background-color: rgb(0, 113, 220);
    border: 0;
    color: white;
    padding: 13px;
    border-radius: 20px;
    width: 85px;
    position: absolute;
    left: 10px;
    top: 170px;
}
.price_upper_box_of_eight_div{
    margin-top: 35px;
    display: flex;
    margin-left: 10px;
}
.price_box_of_eight_div{
    margin-right: 10px;
}
.title_box_of_eight_div{
    margin-left: 10px;
    margin-top: 10px;
}
.title_box_of_eight_div > h3{
    width: 80%;
    font-weight: 100;
    font-size: 15px;
}
#pickup_deil_box_of_eight_div{
    display: flex;
    margin: 10px;
}
#box_to_black{
    background-color: rgb(122, 200, 252);
    color: rgb(0, 113, 220);
    font-size: 13px;
}
#pickup_box_of_eight_div{
    width: 45px;
    padding: 3px;
    background-color: rgb(122, 200, 252);
    color: rgb(red, green, blue);
    margin-right: 10px;
}
#deil_box_of_eight_div{
    width: 45px;
    padding: 3px;
    background-color: rgb(122, 200, 252);
    margin-right: 10px;
}
#eight_div_first{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    width: 96%;
    margin-left: 2%;
}
#eight_div_first_first > h3, .price_box_of_eight_div > h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.heart_icon{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
}
#img_1_of_option, #img_2_of_option{
    width: 30px;
    height: 30px;
}
#orginal_price_of_fashion_roll_div > p{
    text-decoration: line-through;
}
#option_to_change{
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: 30%;
}
#option_to_change > div{
    border: 1px solid gray;
    border-radius: 30px;
}
.middle_for_extra{
    background-color: white;
}
.middle_for_extra *{
    background-color: white;
}
.to_change_red{
    color: red;
    /* font-size: 60px; */
}
.redred{
    color: red;
}
.img-crousel-first{
    height: 300px!important;
}
#img_of_cr{
    width: 100%;
    height: 379px;
    object-fit: fill;
}


@media only screen and (min-width: 481px) and (max-width: 768px){
    #outermost_box{
        background-color: white;
        width: 96%;
        margin: auto;
    }
    #fifth_div_second{
        display: block;
        justify-content: space-between;
    }
    #tenth_div_second{
        display: block;
        justify-content: space-between;
        width: 96%;
        margin-left: 2%;
    }
    #nineth_div_second{
        display: block;
        justify-content: space-between;
        width: 96%;
        margin-left: 2%;
    }
    #nineth_div_second >div{
        margin-top: 20px;
    }
    #fourth_div_second{
        display: block;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    #first_product{
        width: 96%;
        margin: auto;
        height: 790px;
        background-color: white;
        display: block;
        gap: 20px;
    }
    #crousel{
        flex: 0;
    }
    #pick_of_the_day{
        flex: 0;
        padding: 18px;
        margin-top: 20px;
    }
    #pick_of_the_day_img{
        width: 45%;
        margin-left: 20%;
        height: 270px;
    }
    #second_div{
        width: 96%;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        height: 1400px;
        display: block;
        gap: 20px;
    }
    #second_div > div{
        border-radius: 10px;
        flex: 1;
        margin-top: 20px;
        background-color: white;
    }
    #second_div_first_first{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        /* margin-top: 20px; */
    }
    #simple_div_first_first{
        border-radius: 10px;
        border: 1px solid gray;
        /* text-align: center; */
        align-items: center;
        display: flex;
        height: 50px;
        width: 96%;
        margin: auto;
        background-color: rgb(0, 113,220);
    }
    #simple_div_first_first *{
        background-color: rgb(0, 113,220);
    }
    #simple_div_first_first{
        display: flex;
    }
    #simple_div_first_first_first{
        margin-left: 80px;
        margin-right: 20px;
    }
    #simple_div_first_first_second{
        margin-right: 20px;
    }
    #simple_div_first_first_second > h2{
        font-size: 12px;
        color: white;
    }
    #simple_div_first_first_first > img{
        width: 35px;
    }
    #simple_div_first_first_third > p{
        color: white;
        font-size: 11px;
        text-decoration: underline;
    }
    #fourth_div_second{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    #fifth_div_second_first_first_img{
        width: 100%;
    }
    #fifth_div_second_second_first_img{
        width: 100%;
    }
    #fifth_div_second_third_first_img{
        width: 100%;
    }
    #seventh_div_only{
        display: flex;
        align-items: center;
        margin-left: 50px;
        /* margin-top: 30px; */
    }
    #seventh_div_only_first{
        margin-right: 20px;
    }
    #seventh_div_only_second_first > h2{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
    }
    #seventh_div_only_third{
        margin-left: 10px;
        margin-right: 10px;
    }
    #seventh_div_only_third > h4{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
    }
    #seventh_div_only_fourth > p{
        text-decoration: underline;
    }
    #seventh_div_only_first > img{
        width: 70px;
    }
    #nineth_div_second_first_first_img{
        width: 100%;
    }
    #nineth_div_second_second_first_img{
        width: 100%;
    }
    #tenth_div_second_first_first_img{
        width: 100%;
    }
    #tenth_div_second_second_first_img{
        width: 100%;
    }
    #tenth_div_second > div{
        margin-top: 20px;
    }
    #eleventh_div_second{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        width: 96%;
        margin-left: 2%;
    }
}


@media only screen and (max-width : 480px){
    #outermost_box{
        background-color: white;
        width: 96%;
        margin: auto;
    }
    #fifth_div_second{
        display: block;
        justify-content: space-between;
    }
    #tenth_div_second{
        display: block;
        justify-content: space-between;
        width: 96%;
        margin-left: 2%;
    }
    #nineth_div_second{
        display: block;
        justify-content: space-between;
        width: 96%;
        margin-left: 2%;
    }
    #nineth_div_second >div{
        margin-top: 20px;
    }
    #fourth_div_second{
        display: block;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    #first_product{
        width: 96%;
        margin: auto;
        height: 790px;
        background-color: white;
        display: block;
        gap: 20px;
    }
    #crousel{
        flex: 0;
    }
    #pick_of_the_day{
        flex: 0;
        padding: 18px;
        margin-top: 20px;
    }
    #pick_of_the_day_img{
        width: 45%;
        margin-left: 20%;
        height: 270px;
    }
    #second_div{
        width: 96%;
        margin: auto;
        margin-top: 20px;
        background-color: white;
        height: 1080px;
        display: block;
        gap: 20px;
    }
    #second_div > div{
        border-radius: 10px;
        flex: 1;
        margin-top: 20px;
        background-color: white;
    }
    #second_div_first_first{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        /* margin-top: 20px; */
    }
    #simple_div_first_first{
        border-radius: 10px;
        border: 1px solid gray;
        /* text-align: center; */
        align-items: center;
        display: flex;
        height: 50px;
        width: 96%;
        margin: auto;
        background-color: rgb(0, 113,220);
    }
    #simple_div_first_first *{
        background-color: rgb(0, 113,220);
    }
    #simple_div_first_first{
        display: flex;
    }
    #simple_div_first_first_first{
        margin-left: 20px;
        margin-right: 15px;
    }
    #simple_div_first_first_second{
        margin-right: 1px;
    }
    #simple_div_first_first_second > h2{
        font-size: 10px;
        color: white;
    }
    #simple_div_first_first_first > img{
        width: 35px;
    }
    #simple_div_first_first_third >p{
        color: white;
        font-size: 8px;
        text-decoration: underline;
    }
    #fourth_div_second{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    #fifth_div_second_first_first_img{
        width: 100%;
    }
    #fifth_div_second_second_first_img{
        width: 100%;
    }
    #fifth_div_second_third_first_img{
        width: 100%;
    }
    #seventh_div_only{
        display: flex;
        align-items: center;
        margin-left: 50px;
        /* margin-top: 30px; */
    }
    #seventh_div_only_first{
        margin-right: 20px;
    }
    #seventh_div_only_second_first > h2{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
    }
    #seventh_div_only_third{
        margin-left: 10px;
        margin-right: 10px;
    }
    #seventh_div_only_third > h4{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #000000;
    }
    #seventh_div_only_fourth > p{
        text-decoration: underline;
    }
    #seventh_div_only_first > img{
        width: 70px;
    }
    #nineth_div_second_first_first_img{
        width: 100%;
    }
    #nineth_div_second_second_first_img{
        width: 100%;
    }
    #tenth_div_second_first_first_img{
        width: 100%;
    }
    #tenth_div_second_second_first_img{
        width: 100%;
    }
    #tenth_div_second > div{
        margin-top: 20px;
    }
    #eleventh_div_second{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        width: 96%;
        margin-left: 2%;
    }
    #add_btn_of_eight_div_for_grocery{
        position: absolute;
        left: 10px;
        top: 120px;
    }
}
/* .swiper-wrapper{
    border: 2px solid red;
    position:fixed;
    top: 0;
} */