.main {
    width: 100%;
    height: 110px;
    margin-top: 40px;
    align-items: center;
    border: 2px solid rgb(43, 255, 0);
    background-color: rgb(0,113,220);
}
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav_searchbar {
    width: 721px;
    height: 40px;
    padding: 20px;
    border-radius: 20px;
}

#navbar button {
    border: none;
    color: white;
    background-color: #0071dc;
    width: 130px;
    height: 50px;
    font-size: 1rem;
    font: bolder;
}

/* Inner buttons style */
svg {
    color: white;
}

#div_items {
    margin-left: 15px;
    
}


#search_svgDiv {

    background-color: rgb(227, 140, 26);
    border-radius: 100%;
   border: 2px solid rgb(227, 140, 26);
    margin-left: -70px;
}

#search_svg {
    color: black;
   
   
    /* border-radius: 50px; */
}


#heart_svg {
    margin-top: 15px;
}

#person_svg {
    margin-top: 15px;
}


#div_items button {
    text-align: start;
    width: 100px;
}

#btn_item{
    display: flex;
    flex-direction: row;
}
#btn_item div{
    width: 80px;
    margin-left: 6px;
}

#btn_signin{
    display: flex;
    flex-direction: row;
}
#btn_signin div{
    width: 80px;
    margin-left: 6px;
}

#div_acc button {
    text-align: start;
    width: 100px;
}

#div_acc {
    display: flex;
}



/* Hover part */

#walmart_logo:hover{
    width: 130px;
    height: 50px;
    border-radius: 50px;
    /* background-color: rgba(0, 0, 0, 0.541); */
    border: 2px solid black;
    
}
#btn_department:hover {
    width: 130px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.541);
}

#btn_service:hover {
    width: 130px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.541);
}

#btn_item:hover {
    width: 110px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.541);
}

#btn_signin:hover {
    width: 110px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.541);
}

#btn_cart:hover {
    width: 45px;
 text-align: center;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.541);
}

/* Drop Down */
.dropDown {
    position: relative;
    display: inline-block;   
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    
    width: 280px;
   
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 500px;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content1 {
    display: none;
    min-height: 150px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    height: 300px;
    position: absolute;
    background-color: #0071dc;
    width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown-conten1 a:hover {
    background-color: #ddd;
}
.dropdown-conten2 a:hover {
    background-color: #ddd;
}

.dropDown:hover .dropdown-content {
    display: block;
}
.dropDown:hover .dropdown-content1 {
    display: block;
}
.dropDown:hover .dropdown-content2 {
    display: block;
}

/* Down Navbar */


.downNavbar{
display: flex;
flex-direction: row;
width: 100%;

background-color: #0071dc;
align-items: center;
height: 40px;

}
.rightDiv{

width: 80%;
}

.leftDiv{

width: 100%;
text-align: center;


}
.leftDiv a{

text-decoration: none;
color: white;
font-weight:500;
margin: 0 0 0 8px;

}
.leftDiv a:hover{
    color: white;
text-decoration: underline;
}
#inner_section{
height: 150px;
width: 150px;
text-align: center;
align-items: center;

}

 #inner_signBtn{
border-radius: 20px;

padding-left: 20px;
margin-bottom: 10px;
color: white;
height: 30px;
margin-top: 30px;
width: 80px;
background-color:#0071dc;

}

#inner_create{
    padding-left: 10px;
border-radius: 20px;
text-align: center;
color: white;
width: 140px;
margin-top: 10px;
height: 30px;
}

/* rightDiv code */
.rightDiv{
    display: flex;
    flex-direction: row;
}
#location_div_img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
#location_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
#location_finding{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
  
    width: 300px;
   margin: auto;
    height: 200px;
}
#location_finding div{
width: 300px;
height: 140px;
text-align: center;
border: 2px solid black;
margin-top: 15px;
border-radius: 10px;
border: none;
background-color: #f1f1f1;
}


#display_location_span{
    margin-top: 5px;
    color: white;
}
#span_font{
    font-size: 13px;
    
    font-weight: bold;
}
#btn_find_loc{
    background-color: #0071dc;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    width: 250px;
    height: 30px;
}
